.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

.container {
    margin-top: 20px;
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    border-style: double;
}

.carousel {
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    
}

.main-texts {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

body { background-color: transparent; }

html { 
    background: url(images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
    

h1{
    background-color: rgb(223, 238, 252);
    border-radius: 10px;
    border-style: solid;
    
}

h2{
    background-color: rgb(223, 238, 252);
    border-radius: 10px;
    border-style: solid;
    text-align: center;
}

h3{
    background-color: rgb(223, 238, 252);
    border-radius: 10px;
    border-style: double;
}